@using NCachedBookStore.Contracts.Entities
@model IEnumerable<Book>


<div class="row">
    <distributed-cache-ncache name="booksList" expires-sliding="new TimeSpan(0,10,0)"
                              depends-on="SELECT [b].[Id], [b].[AddedOn], [b].[AuthorName], [b].[Description], [b].[ISBN], [b].[Name], [b].[Price]
      FROM [dbo].[Books] AS [b]"
                              dependency-type="SQLServer">
        <div class="col-md-12"><a class="btn btn-primary" asp-action="Create">Add New</a></div>
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card bg-light my-2">
                    <div class="card-body">
                        <h1 class="card-title">@item.Name</h1>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Details" asp-route-id="@item.Id">Details >></a>
                    </div>
                </div>
            </div>
        }
    </distributed-cache-ncache>
</div>